/*base*/
body {
    font-family: 'Inter', sans-serif;
    margin: 40px 84px;
    background-color: #F3F5FC;
}

/*tipografía*/
::placeholder {
    position: absolute;
    top: 0;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
    background-color: #F3F5FC;
}

.mensaje-xl {
    width: 336px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding-left: 57px;
    color: #343A40;
}

.mensaje-sm {
    width: 336px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-left: 32px;
    color: #495057;
}

.advertencia {
    font-weight: 400;
    font-size: 12px;
    color: #495057;
    opacity: 0.8;
}

/*contenedores*/
.contenedor-principal {
    margin-left: 140px;
    margin-top: 98px;
}

input {
    position: static;
    width: 680px;
    height: 360px;
    line-height: 48px;
    border: none;
    padding-top: 10px;
    background-color: #F3F5FC;
}

input:focus {
    outline: none;
    position: static;
    top: 0;
    font-size: 32px;
    font-weight: 400;
    color: #0A3871;
}

.contenedor-mensaje {
    position: absolute;
    width: 400px;
    height: 715px;
    left: 1000px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.contenedor-mensaje img {
    margin: 120px 32px 32px 32px;
}

/*botones*/
.boton-copiar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    margin: 32px;
    width: 336px;
    height: 67px;
    top: 730px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-size: 16px;
    color: #0A3871;
    background: #F3F5FC;
}

.boton-copiar {
    display: none;
}

.boton-copiar:hover {
    color: #F3F5FC;
    background-color: #0A3871;
}


.boton-encriptar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border: none;
    border-radius: 24px;
    color: white;
}

.boton-encriptar:hover {
    background-color: #368ab5;
}

.boton-desencriptar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
}

.boton-desencriptar:hover {
    color: #F3F5FC;
    background-color: #368ab5;
    border: none;
}

/*Ventana notificación*/
#ventana-copiado {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #198754;
  color: white;
  padding: 15px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(20px);
  pointer-events: none;
}

#ventana-copiado.mostrar {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.form-control {
    text-align: center;
    border: none !important;
    padding-top: 40px;
}

/*Responsive Telefono*/

@media (min-width: 368px) and (max-width: 1024px) {
    body {
        margin: 40px 15px;
    }

    input {
        position: relative;
        width: 300px;
        height: 460px;
    }

    ::placeholder {
        top: 0;
        font-size: 24px;
    }

    .contenedor-principal {
        margin-left: 5px;
        margin-top: 98px;
    }

    .contenedor-mensaje {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 360px;
        min-height: 100px;
        height: auto;
        left: 0px;
        top: 40px;
        align-items: center;
    }

    .contenedor-mensaje img {
        display: none;
    }

    .mensaje-xl {
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 29px;
        padding: 16px 0px 0px 0px;
        margin: 0px;
    }

    .mensaje-sm {
        display: flex;
        justify-content: center;
        font-size: 12px;
        padding: 0px;
    }

    .boton-encriptar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0px !important;
    }

    .boton-desencriptar {
        margin-top: 20px;
    }

    .boton-copiar {
        margin: 20px 0px;
    }

    .contenedor-btn {
        display: flex;
        justify-content: center;
        margin: auto !important;
        padding: 0px !important;
    }
}